@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Stalinist+One&display=swap');

.orbitron {
    font-family: "Orbitron", sans-serif !important;
    font-weight: 700;
    font-style: normal;
}

main h1 {
    font-family: "Orbitron", sans-serif !important;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.stalinist-one-regular {
    font-family: "Stalinist One", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}